.App {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* border: 1px solid; */
    background-color: #fff;
    /* box-shadow: 0px 5px 10px 5px black; */
    /* border-radius: 20px; */
    padding: 10px 20px;
    /* margin: 50px auto; */
    position: relative;
    overflow: hidden;
}

div,
span,
img {
    cursor: default;
}

.tab-style {
    color: #a9a9a9;
    margin-right: 15px;
    transition: 0.3s;
}
.tab-active{
    font-weight: 600;
    color: #333333;
}
.button-1{
    border: 0;
    margin-left: 10px;
    width: 80px;
    height: 40px;
    background-color: rgb(255, 236, 127);
    border-radius: 10px;
    font-weight: 600;
    color: rgb(8, 59, 59);
    transition: 0.3s;
}
.button-1:active{
    color: #ffffff;
    background-color: rgb(160, 138, 13);
}