.home-bottom-text{
    width: 100vw;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #999797;
    text-shadow: 0px 0px 6px #999797;
    margin-top: 30px;
    position: absolute;
    z-index: 10;
    bottom: 0px;
}
@keyframes mainBox1Show {
    from {
        opacity: 0;
        left: -200px;
        top: -40px;
        transform: rotateZ(0);
    }

    to {
        opacity: 1;
        left: 200px;
        top: 40px;
        transform: rotateZ(360deg);
    }
}

@keyframes mainBox2Show {
    from {
        opacity: 0;
        left: 430px;
        top: -40px;
        transform: rotateZ(360deg);
    }

    to {
        opacity: 1;
        left: 430px;
        top: 40px;
        transform: rotateZ(0);
    }
}

@keyframes mainBox3Show {
    from {
        opacity: 0;
        left: -200px;
        top: 470px;
        transform: rotateZ(0);
    }

    to {
        opacity: 1;
        left: 200px;
        top: 270px;
        transform: rotateZ(360deg);
    }
}

@keyframes mainBox4Show {
    from {
        opacity: 0;
        top: 450px;
    }

    to {
        opacity: 1;
        top: 350px;
    }
}

@keyframes mainBox5Show {
    from {
        opacity: 0;
        top: -40px;
        transform: rotateX(0);
    }

    to {
        opacity: 1;
        top: 40px;
        transform: rotateX(360deg);
    }
}

@keyframes mainBox6Show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes mainBox9Show {
    from {
        opacity: 0;
        right: -100px;
        top: -40px;
        transform: scale(0);
        transform: rotateZ(0);
    }

    to {
        opacity: 1;
        right: 115px;
        top: 40px;
        transform: scale(1);
        transform: rotateZ(360deg);
    }
}

.parent-box {
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
}
.main-box-srollBox{
    width: 100vw;
    height: 680px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
}
.main-box {
    width: 1920px;
    height: 680px;
    box-sizing: border-box;
    /* border: 1px solid #fff; */
    position: relative;
}

.main-box-1 {
    width: 200px;
    height: 200px;
    /* border: 1px solid #fff; */
    background-image: linear-gradient(to right bottom, #095e50 30%, #c7b300);
    background-color: #095e50;
    position: absolute;
    left: 200px;
    top: 40px;
    transition: 0.3s;
    animation: 2s mainBox1Show;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-box-2 {
    width: 340px;
    height: 280px;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 430px;
    top: 40px;
    transition: 0.3s;
    animation: 2s mainBox2Show;
}

.weatherBackgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    opacity: 0.6;
}

.main-box-3 {
    width: 200px;
    height: 260px;
    border: 1px solid #fff;
    position: absolute;
    left: 200px;
    top: 270px;
    transition: 0.3s;
    animation: 2s mainBox3Show;
}

.main-box-4 {
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 430px;
    top: 350px;
    transition: 0.3s;
    animation: 3s mainBox4Show;
}

.main-box-5 {
    width: 150px;
    height: 150px;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 800px;
    top: 40px;
    transition: 0.3s;
    animation: 2s mainBox5Show;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #b61f1f; */
}

.main-box-7 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 980px;
    top: 40px;
    transition: 0.3s;
    animation: 3s mainBox5Show;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(107, 52, 107); */
}

.main-box-8 {
    cursor: pointer;
    width: 150px;
    height: 150px;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 1160px;
    top: 40px;
    transition: 0.3s;
    animation: 4s mainBox5Show;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box-6 {
    width: 460px;
    height: 100px;
    box-sizing: border-box;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 800px;
    top: 220px;
    transition: 0.3s;
    animation: 2s mainBox6Show;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fabc4a;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    text-align: center;
}

.main-box-9 {
    width: 460px;
    height: 500px;
    border: 1px solid #fff;
    position: absolute;
    right: 115px;
    top: 40px;
    transition: 0.3s;
    animation: 2s mainBox9Show;
}

@keyframes mainBox10Show {
    0% {
        opacity: 0;
        right: 400px;
        bottom: -130px;
    }

    100% {
        opacity: 1;
        right: 610px;
        bottom: 30px;
    }
}

.main-box-10 {
    width: 340px;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    /* border: 6px solid #fff; */
    position: absolute;
    right: 610px;
    bottom: 30px;
    transition: 0.3s;
    animation: 3s mainBox10Show;
}

.main-box-1:hover {
    top: 35px;
}

/* .main-box-2:hover{
    top: 35px;
} */
.main-box-3:hover {
    top: 265px;
}

.main-box-4:hover {
    box-shadow: 0px 0px 10px 2px pink;
}

.main-box-5:hover {
    top: 35px;
    cursor: pointer;
}

.main-box-6:hover {
    top: 215px;
    cursor: pointer;
}

.main-box-6:active {
    /* top: 225px; */
    transform: scale(0.99);
}

.main-box-7:hover {
    top: 35px;
    cursor: pointer;
}

.main-box-8:hover {
    top: 35px;
}

.main-box-9:hover {
    top: 35px;
}

.main-box-10:hover {
    box-shadow: 0px 0px 10px 2px #885b32;
}

.borderRadius {
    border-radius: 10px;
}

.top-swallow {
    position: fixed;
    z-index: 9;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    /* border: 1px solid #fff; */
    background-image: linear-gradient(to bottom, #000000 10%, transparent);
    /* border: 1px solid #fff; */
}

.left-swallow {
    position: fixed;
    z-index: 9;
    top: 100px;
    left: 0;
    width: 10vw;
    height: 80vh;
    /* border: 1px solid #fff; */
    background-image: linear-gradient(to right, #000000, transparent);
    /* border: 1px solid #fff; */
}

.right-swallow {
    position: fixed;
    z-index: 9;
    top: 100px;
    right: 0;
    width: 10vw;
    height: 80vh;
    /* border: 1px solid #fff; */
    background-image: linear-gradient(to left, #000000, transparent);
    /* border: 1px solid #fff; */
}

.bottom-swallow {
    position: fixed;
    z-index: 9;
    top: 80vh;
    right: 0;
    width: 100vw;
    height: 100px;
    /* border: 1px solid #fff; */
    background-image: linear-gradient(to top, #000000, transparent);
    /* border: 1px solid #fff; */
}

.weatherChoseWin {
    width: 330px;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #383838;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
}