.title {
  text-align: center;
}
.ipt{
  transition: 0.3s;
  width: 400px;
  height: 40px;
  font-size: 32px;
  border: 5px solid rgb(53, 17, 17);
  border-radius: 10px;
  padding: 6px 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 50px;
  margin-left: 50px;
}
.ipt:focus{
  box-shadow: 0px 0px 8px 5px rgb(0, 225, 255);
}
.ipt:hover{
  box-shadow: 0px 0px 8px 5px rgb(0, 225, 255);
}